body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.media-player {
    position: relative;
    width: 90vw;
    height: 90vh;
}

.media-player__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media-player__video-player {
    z-index: 0;
}

.media-player__overlay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    opacity: 0;
}

.media-player__meta {
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.media-player--chromecast .media-player__overlay,
.media-player--loading .media-player__overlay,
.media-player--overlay .media-player__overlay {
    opacity: 1;
    z-index: 2;
}

.media-player--chromecast .media-player__meta,
.media-player--overlay .media-player__meta {
    z-index: 3;
}

.media-player--chromecast .media-player__chromecast-controls {
    z-index: 3;
}

.media-player--video .media-player__video-player {
    z-index: 1;
}

.media-player--loading .media-player__loader {
    z-index: 4;
}

.button-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem 0.5rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    font-family: VideoJS;
    font-size: 2rem;
}

.button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button__play:before {
    content: '\f101';
}

.button__back {
    content: '\f115';
}

.title {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.parental {
    margin: 1rem;
}
