.amp-flush-skin .amp-logo {
    display: none !important;
}

.amp-closedcaption-control {
    display: none !important;
}

.azuremediaplayer.amp-flush-skin.amp-size-s .vjs-control-bar .amp-controlbaricons-left .vjs-play-control {
    display: block !important;
}

.amp-flush-skin .vjs-text-track-display > div > div > div {
    background-color: transparent !important;
    text-shadow: 0.1rem 0.1rem 0.05rem #000;
}